<h1><%= @course_category.name %></h1>
<%= link_to 'Edit', edit_course_category_path(@course_category) %>
<%= link_to 'Back', course_categories_path %>
<%= link_to 'New Course Category', new_course_category_path %>