<b>
  Your course
  <%= link_to @course.title, @course %>
  approval status is
  <%= @course.approved %>
</b>
<div class="row">
  <p>
    Regards,
  </p>
</div>

<div class="row">
  <%= link_to "The Brainstaq team", root_path %>
</div>