<div class="progress">
  <div class="progress-bar bg-secondary text-dark" style="width: <%= course.progress(current_user) %>%">
    <%= number_to_percentage(course.progress(current_user), precision: 0) %>
  </div>
</div>